<div class="jumbotron">
  <div class="row">
      <div class="col-lg">
        <h1>New Team</h1>
        <%= render 'form', team: @team %>

        <%= link_to 'Back', teams_path %>
      </div>
  </div>
</div>
