<h2>Admin Dashboard</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Create Course", new_course_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Create Quiz", new_quiz_path, class: 'nav-link' %>
  </li>
</ul>
