// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.counter-table  {
    counter-reset: rowNumber;
}

.counter-table  tr {
    counter-increment: rowNumber;
}

.counter-table  tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    font-weight: bold;
}

.leaderboard-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
